@import '../../../assets/styles/variables.scss';

.sobre {
  margin: 40px auto;
  max-width: 1250px;
  padding: 20px;
}

.container-sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.imagem-sobre {
  flex: 1;
  max-width: 500px;
  height: 71vh;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.texto {
  flex: 1;
  max-width: 500px;
  
  h2 {
    color: var(--cor-de-button);
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  p {
    color: #131313;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

@include mobile {
  .container-sobre {
    flex-direction: column;
  }
  
  .imagem-sobre {
    height: auto;
  }
}
