<section class="sobre">
    <div class="container-sobre">
      <img src="../../../assets/images/GoldenRazor-BarberShop.webp" alt="Imagem da barbearia" class="imagem-sobre">
      <div class="texto">
        <h2>Sobre nós</h2>
        <p>Bem-vindo à GoldenRazor, onde tradição e modernidade se encontram para oferecer a melhor experiência em cuidados masculinos. Desde o momento em que você entra, é recebido em um ambiente acolhedor, projetado para que se sinta em casa. Nossa equipe de barbeiros experientes combina o clássico e o contemporâneo, proporcionando serviços que vão desde cortes de cabelo modernos até cuidados de barba. Valorizamos cada cliente e buscamos criar um relacionamento de confiança, tornando cada visita mais do que um simples serviço. Na GoldenRazor, você encontra um espaço para relaxar e renovar sua imagem, sempre com um atendimento de qualidade e atenção aos detalhes. Venha descobrir um novo padrão de cuidados masculinos, onde sua satisfação é nossa prioridade.</p>
        <h2>Origem</h2>
        <p>A GoldenRazor surgiu com a missão de unir tradição e modernidade nos cuidados masculinos. Começamos como uma pequena barbearia de bairro, com o propósito de resgatar o atendimento clássico e personalizado. Ao longo dos anos, crescemos e nos tornamos um espaço onde cada detalhe é pensado para oferecer uma experiência única. Na GoldenRazor, valorizamos cada cliente e nos dedicamos a preservar o espírito da barbearia tradicional, sempre com um toque contemporâneo.</p>
      </div>
    </div>
  </section>