<section id="cadastro-section">
    <div class="cadastro-container">
      <div class="cadastro-header">
        <img src="../../../assets/images/GoldenRazor_logo.png" alt="Logo Golden Razor" class="cadastro-logo">
        <h1>Crie Sua Conta</h1>
        <p>Cadastre-se e aproveite experiências exclusivas na Golden Razor.</p>
      </div>
      
      <div class="cadastro-form-container">
        <form class="cadastro-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <label for="nome">Nome Completo</label>
          <input type="text" id="nome" formControlName="nome" placeholder="Digite seu nome completo">
          <div class="error-message" *ngIf="registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched">
            Nome deve ter pelo menos 3 caracteres (apenas letras)
          </div>
  
          <label for="email">E-mail</label>
          <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail">
          <div class="error-message" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            Por favor, digite um e-mail válido
          </div>
  
          <label for="telefone">Telefone</label>
          <input type="tel" id="telefone" formControlName="telefone" placeholder="Digite apenas números">
          <div class="error-message" *ngIf="registerForm.get('telefone')?.invalid && registerForm.get('telefone')?.touched">
            Telefone deve ter 11 números (com DDD)
          </div>
  
          <label for="senha">Senha</label>
          <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha">
          <div class="error-message" *ngIf="registerForm.get('senha')?.invalid && registerForm.get('senha')?.touched">
            Senha deve conter: 8+ caracteres, maiúscula, minúscula, número e especial
          </div>
  
          <button type="submit" class="btn-cadastro" [disabled]="registerForm.invalid">Cadastrar</button>
          
          <p class="login-option">
            Já tem uma conta? <a routerLink="/login" class="login-link">Faça login aqui</a>
          </p>
        </form>
      </div>
    </div>
  </section>