<section class="galeria">
  <h2>Galeria</h2>
  <p>Explore nossa galeria de cortes Golden Razor...</p>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of galleryImages; trackBy: trackByFn">
        <img [src]="img" alt="Corte de cabelo">
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <button class="button-agendar" routerLink="/login">AGENDE AGORA</button>
</section>
