<section id="inicio" class="secao_inicio">
  <div class="box-inicio">
    <div class="img-text">
      <img src="assets/images/GoldenRazor_inicio.png" alt="Imagem da Barbearia GoldenRazor">
      <button class="button-agendar-inicio" routerLink="/login">AGENDE AGORA</button>
    </div>
  </div>
</section>

<!-- Seção Sobre -->
<section class="sobre">
  <div class="container-sobre">
    <img src="assets/images/GoldenRazor-BarberShop.webp" alt="Imagem da barbearia" class="imagem-sobre">
    <div class="texto">
      <h2>Sobre nós</h2>
      <p>Bem-vindo à GoldenRazor, onde tradição e modernidade se encontram...</p>
      <h2>Origem</h2>
      <p>A GoldenRazor surgiu com a missão de unir tradição e modernidade...</p>
    </div>
  </div>
</section>

<!-- Seção Galeria incorporada -->
<section class="galeria">
  <h2>Galeria</h2>
  <p>Explore nossa galeria de cortes Golden Razor</p>

  <!-- Container principal do Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of galleryImages">
        <img [src]="img" alt="Corte de cabelo">
      </div>
    </div>
    <!-- Botões de navegação -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Paginação -->
    <div class="swiper-pagination"></div>
  </div>

  <button class="button-agendar" routerLink="/login">AGENDE AGORA</button>
</section>