<section class="servico">
  <h2>Serviços</h2>
  <div class="container-box">
    @for (service of services; track service.title) {
      <article class="box-servico">
        <div class="box">
          <img [src]="service.image" [alt]="service.title">
          <h3>{{ service.title }}</h3>
          <p>{{ service.price }}</p>
          <button class="button-agendar" (click)="schedule(service.type)">
            AGENDE AGORA
          </button>
        </div>
      </article>
    }
  </div>
</section>